<div class="header">
    <div class="row row-eq-height">
        <div class="col-xs-8 col-md-11 vert-center" id="topbox">
            <a href="/" class="col-md-3 col-md-offset-1 header-font">CrossWords DB</a>
        </div>

        <div class="col-xs-4 col-md-1" id="welcome">
            <p align="center">
                User logged in:<br> <strong><%= user.username %></strong>
            </p>

            <p align="center">
                <a href="/signout" title="sign out">sign out</a>
            </p>
        </div>
    </div>
</div>