<div class="row">
    <div class="col-md-12">
        <div class="table-scroll wrds-table-x">
            <table class="table table-responsive table-hover table-condensed" id="wrdstbl">
                <thead>
                <tr>
                    <th class="hide no-sort"></th>
                    <th class="col-md-2">Question</th>
                    <th class="col-md-2">Answer</th>
                    <th class="col-md-1">Created by</th>
                    <th class="col-md-2">Created at</th>
                    <!--<th class="col-md-1">Updated by</th>-->
                    <!--<th class="col-md-2">Updated at</th>-->
                    <th class="text-center col-md-2 no-sort">Approved?</th>
                    <th class="col-md-2 no-sort"></th>
                    <!--<th class="col-md-1" data-defaultsort="disabled"></th>-->
                </tr>
                </thead>
            </table>

        </div>
    </div>

</div>
<div class="help-block"></div>
<div class="row col-md-2">
    <p>
        <span id="ajaxfail"></span>
        <span id="ajaxsuccess"></span>
    </p>
</div>