<div class="row">
    <div class="col-md-12">
        <div class="table-scroll wrds-table-x">
            <table class="table table-hover table-condensed" id="wrdstbl">
                <thead>
                <tr>
                    <th class="hide xcol-md-1 no-sort"></th>
                    <th class="xcol-md-2">Question</th>
                    <th class="xcol-md-2">Answer</th>
                    <th class="xcol-md-1">Created by</th>
                    <th class="xcol-md-2">Created at</th>
                    <th class="xcol-md-1">Updated by</th>
                    <!--<th class="col-md-2">Updated at</th>-->

                    <th class="text-center xcol-md-2 no-sort">Approved?
                        <!--<div class="dropdown">-->
                            <!--Approved?-->
                            <!--<button-->
                                    <!--class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1"-->
                                    <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">All-->
                                <!--<span class="caret"></span>-->
                            <!--</button>-->
                            <!--<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
                                <!--<li><a href="#">Show All</a></li>-->
                                <!--<li><a href="#">Show Approved only</a></li>-->
                                <!--<li><a href="#">Show Declined only</a></li>-->
                                <!--&lt;!&ndash;<li role="separator" class="divider"></li>&ndash;&gt;-->
                                <!--<li><a href="#">Show Unmarked</a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    </th>
                    <th class="xcol-md-2 no-sort"></th>
                    <!--<th class="col-md-1" data-defaultsort="disabled"></th>-->
                </tr>
                </thead>
            </table>

        </div>
    </div>

</div>
<div class="help-block"></div>
<div class="row col-md-2">
    <p>
        <span id="ajaxfail"></span>
        <span id="ajaxsuccess"></span>
    </p>
</div>