

body {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
}

.content-wraper {
    margin-left: 5%;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.main-form {
    margin-top: 3%;
    /*margin-left: 8%;*/
}

.table {
    table-layout: fixed;
    word-wrap: break-word;
}

.header-font {
    font-family: 'Permanent Marker', cursive;
    color: #f4e9e9;
    margin-left: 13%;
}

.edit-cell input[type=text] {
    width: 100%;
    border: 1px;
    background-color: rgb(228, 228, 234);
}

.signin-container {
    /*min-height: 100%;  !* Fallback for browsers do NOT support vh unit *!*/
    /*min-height: 100vh; !* These two lines are counted as one :-)       *!*/
    /*width: 100%;*/

    /*display: flex;*/
    /*align-items: center;*/
    /*height: 100vh;*/
    /*position: absolute;*/
    /*margin-top: 15%;*/
    /*left: 33%;*/
    /*transform: translateY(-50%);*/
}

.table-scroll {
    max-height: 50vh;
    overflow: auto;
    /*background-color: #bae3ff;*/
}

.thead-color {
    color: #000b58;
}

#topbox {
    /*position: absolute;*/
    /*width: 90%;*/
    /*height: 10%;*/
    /*border: 3px solid #237aff;*/
    /*left: 0;*/
    background-color: #237aff;
}

#welcome {
    /*position: absolute;*/
    /*left: 90%;*/
    /*width: 10%;*/
    /*height: 100%;*/
    border: 1px solid #237aff;
    background-color: #fffafe;
    /*padding: 10px;*/
    /*font-size: small;*/
}

.msg-container {
    /*position: relative;*/
    /*left: 48.5%;*/
    /*top: 7px;*/
    /*width: 300px;*/
    /*padding-top: 2%;*/

    /*min-height: 10%;*/
    height: 20px;
    /*border: 1px solid red;*/
    margin-top: 0.5%;
    /*font-size: large;*/

}

.text-left {
    text-align: left;
    /*border: 1px solid blue;*/
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

#messages {
}

#info {
    color: #097f02;
}

#error {
    color: #e40000;
}

#ajaxsuccess {
    color: #097f02;
}

#ajaxfail {
    color: #e40000;
}

#register {
    /*position: relative;*/
    /*left: 1%;*/

}

.dbview {
    padding-top: 10px;
}

.voffset1 {
    padding-top: 5px;
}

.voffset2 {
    padding-top: 10px;
}

.loffset1 {
    padding-left: 5px;
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-actions .btn {
    margin-right: 10px;
}

/*//sign-in screen aligning middle*/
html, body, .container-table {
    height: 100%;
}

.container-table {
    display: table;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 100px;
}

#delete-modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #cc1600;
    color: #eee;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.btn:focus, .btn:active {
    outline: none;
}
