
body {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
}

/*//sign-in screen align middle*/
html, body, .container-table {
    height: 100%;
}

.container-table {
    display: table;
}

.content-wraper {
    margin-left: 5%;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.main-form {
    margin-top: 3%;
    /*margin-left: 8%;*/
}

/*.table {*/
/*table-layout: fixed;*/
/*word-wrap: break-word;*/
/*}*/

a.header-font {
    font-family: 'Permanent Marker', cursive;
    color: #f4e9e9;
    font-size: xx-large;
    text-decoration: none;
    /*margin-left: 13%;*/
}

.home-button {
    color: white;
}

.edit-cell input[type=text] {
    width: 100%;
    border: 1px;
    background-color: rgb(228, 228, 234);
}

/*.table-scroll {*/
/*max-height: 50vh;*/
/*!*overflow: auto;*!*/
/*overflow: auto;*/
/*!*background-color: #bae3ff;*!*/
/*}*/

/*.wrds-table-x {*/
    /*min-height: 25vh;*/
/*}*/

.dropdown ul li a {
    height: auto !important;
    overflow: visible !important;
}

.thead-color {
    color: #000b58;
}

#topbox {
    background-color: #237aff;
}

#welcome {
    border: 1px solid #237aff;
    background-color: #fffafe;
}

.msg-container {
    height: 20px;
    margin-top: 0.5%;

}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.vert-center {
    display: flex;
    align-items: center;
}

#messages {
}

#info {
    color: #097f02;
}

#error {
    color: #e40000;
}

#ajaxsuccess {
    color: #097f02;
}

#ajaxfail {
    color: #e40000;
}

#register {
    /*position: relative;*/
    /*left: 1%;*/

}

.smallinfo {
    font-size: small;
}

.dbview {
    padding-top: 10px;
}

.voffset1 {
    padding-top: 5px;
}

.voffset2 {
    padding-top: 10px;
}

.loffset1 {
    padding-left: 5px;
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top: 15px;
    margin-bottom: 15px;
}

.error-actions .btn {
    margin-right: 10px;
}

.statswell {
    /*margin-top: 35vh;*/
}

.glgood {
    color: #097f02;
}

.glbad {
    color: #cc1600;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 100px;
}

#delete-modal-header {
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #cc1600;
    color: #eee;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#edit-modal-header {
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #0066cc;
    color: #eee;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.btn:focus, .btn:active {
    outline: none;
}

.table {
    margin: 0px !important;
    table-layout: fixed;


}

.table td {
    /*padding-bottom: 0px !important;*/
    overflow: hidden;

}

tbody > tr > td {
    white-space: nowrap;
}
